/* Colors */
$primary: #00bc77;
$secondary: #c300ff;
$tertiary: #003cff;

/* Fonts */
$mainFont: "Avenir";

/* Breakpoints */
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

/* Others */
$mainFooterHeight: 209px;
$mainNavHeight: 68px;
