.sign-in-button {
	display: block;
	width: 100%;
	padding: 8px;
	font-size: 1.1rem;
	font-weight: bold;
	margin-top: 1rem;
	border-color: #00bc77;
	background-color: #00bc77;
	color: #fff;
}

.sign-in-content h1 {
	margin: 1rem 0;
}

.sign-in-content {
	box-sizing: border-box;
	background-color: white;
	width: 300px;
	margin: 0 auto;
	margin-top: 3rem;
	padding: 2rem 2rem 1rem 2rem;
	box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
	border-radius: 5px;
}

.sign-in-icon {
	font-size: 1rem;
}

.input-remember {
	display: flex;
}

.input-remember label {
	margin-left: 0.25rem;
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	text-align: left;

	&:nth-child(2) {
		margin-bottom: 1rem;
	}

	&:nth-child(1) {
		margin-bottom: 0.5rem;
	}

	.error-message {
		color: red;
		margin-top: 0.1rem;
		font-size: 0.8rem;
	}
}

.login-error {
	margin-top: 1rem;
	color: red;
}

.input-wrapper label {
	font-weight: bold;
}

.input-wrapper input {
	padding: 5px;
	font-size: 1.2rem;
}
